{% extends 'base.html' %}
{% block content %}
<div class="cart-container">
    <div class="cart-content">
        <h1>Shopping Cart</h1>
        <ul>
            {% for item in order_items %}
                <li>
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="cart-item-image">
                    {{ item.product.name }} - Quantity: {{ item.quantity }} - Price: ${{ item.get_total_item_price }}
                    <form method="POST" action="{% url 'remove_from_cart' item.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="remove-btn">Remove</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <p>Total Price: ${{ total_price }}</p>
        <a href="{% url 'checkout' %}">Proceed to Checkout</a>
    </div>
</div>
{% endblock %}
