{% extends 'base.html' %}
{% block content %}
    <h1>Multimedia</h1>
    <h2>Featured YouTube Videos</h2>
    <div class="video-container">
        <iframe width="560" height="560" src="https://www.youtube.com/embed/fDqwAiVR5JU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="560" src="https://www.youtube.com/embed/3Czmr5kbTVk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
{% endblock %}